.BTareas{
    position:absolute;
    background-color:#000000;
    opacity: 0.7;
    width:100%;
    height:45px;
    z-index: 1;
    display: flex;
    flex-direction: row;
  }
    .izquierda{
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: right;
    

    }
  
  .logo{
      width: 25px;
      height: 25px;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 10px;
  }
    .reloj{
    width: auto;
    padding-left: 15px;
    margin: 2px;
    margin-top: 8px;
    }
  p{
      text-align: center;
      font-size: 12px;
      color: var(--colorTexto);
  }
  .chrome{
    width: 28px;
    margin-left: 40px;
    height: 28px;
    margin-top: 10px;
}
  .carpetaEnBarra{
      width: 28px;
      margin-left: 30px;
      height: 28px;
      margin-top: 10px;
  }
  .mensaje{
    width: 28px;
    height: 28px;
    margin-top: 10px;
  }



  /*__________________BUSCADOR___________________*/

  .buscador{
    width: 300px;
    height: 41px;
    
    margin-top: 1px;
    opacity: 0.7;
    font-size: var(--Texto1);
    color: var(--color2);
    padding-left: 45px;
    border-radius: 5px;
  }
  .lupa{
    width: 20px;
    height: 20px;
  position: absolute;
  margin-left: 20px;
  margin-top: 11px;
  z-index: 1;
}
