*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10;
    font-family: 'Montserrat', sans-serif;

}


:root{
    --color1: #09303b;
    --color2: #384548;
    --color3: #000000;
    --color4: #002627;
    --color5: #184546;
    --colorTexto: #ffff;

    --Texto1: 15px;

}

