.Escritorio{
    width: 95%;
<<<<<<< HEAD
    height: 750px;
=======
    height: 700px;
>>>>>>> 67a543f4366d8dee9dc27b1b6935f6efdb689465
    margin: auto;
    margin-top: 1%;

}

  
 .Fondo
  {
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:5px 6px 64px 4px #000000;
    -moz-box-shadow:5px 6px 64px 4px #000000;
    -webkit-box-shadow:5px 6px 64px 4px #000000;
    position:absolute;
    
  }
